.map-container {
  min-width: 200px;
  min-height: 200px;
}

.marker {
  background-image: url("https://www.pikpng.com/pngl/m/509-5093828_map-marker-car-icon-free-icon-download-svg.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
